:root {

    /* colors */
    --White: hsl(0, 0%, 100%);
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);

    /* font */
    --fSizeP: 15px;
    --fsizeH1: 22px;

    /* spacing */
    --spacing300: 24px;
    --spacing500: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF;
}

.container {
    background-color: var(--Slate300);
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: --fFam;
    display: inline-block;
    width: fit-content;
    height: 499px;
    padding: 16px 16px 40px 16px;
    max-width: 320px;
    border-radius: 20px;
}

.card__content {
    align-content: center;
    display: inline-flex;
    flex-direction: column;
    width: fit-content;
    gap: 24px;
    text-wrap: wrap;
    border: none;
    border-radius: 20px;
    background-color: white;
}

.card__image {
    width: min-content;
    width: 288px;
    height: 288px;
}

.card__image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card__text {
    padding: 0 16px;
    font-family: "Outfit";
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.card__text h1 {
    font-size: var(--fsizeH1);
    color: var(--Slate900);
    font-weight: 700;
}

.card__text p {
    font-size: var(--fSizeP);
    color: var(--Slate500);
    font-weight: 400;
    letter-spacing: 0.2px;
}

/* 
@media only screen and (max-width: 375px) {} */